/**** OVERLAY ****/
#overlay {
    display: none;
    position: fixed;
    width: 65%;

    /** Center the div on the x and y **/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /** overlay it always **/
    z-index: 9999;

    text-align: center;
    background-color: #16A085;
    color: #eee;
    border-radius: 10px;
    padding: 10px;
}
.overlay-content {
    margin-bottom: 10%;
    font-size: 20px;
    font-weight: bold;
}
.overlayHeader {
    margin: 30px 0px;
    padding-bottom: 30px;
    border-bottom: 2px solid #eee;
    font-weight: bold;
}
.overlayLogo {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    transform: translateX(-50%);
}
#closeOverlay {
    position: relative;
    float: right;
    top: 10px;
    right: 10px;
}
.overlay-input {
    width: 50%;
    margin: 0 auto;
}
.subscribeThanks {
    background-color: #1ABC9C;
    width: 200px;
    margin: 10px auto;
    border-radius: 5px;
    display: none;
}

/** Used to addClass to the overlay **/
.show {
    display: block;
}


@media (max-width: 768px) {
    .heroImage {
        display: none;
    }
    .logos > .container > div {
        display: inline-block;
    }
    #overlay {
        height: 90vh;
        width: 80%;
    }
    .overlay-input {
        width: 75%;
        margin: 0 auto;
    }
}
@media (max-width: 481px) {
    .overlayHeader {
        font-size: 1.6em;
        margin: 15px;
        padding-bottom: 15px;
    }
    #closeOverlay {
        top: 5px;
        right: 5px;
    }
}
.scroller {
	margin-bottom: 1000px;
}
.padding {
	margin-bottom: 10px;
}